.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--white);
    z-index: 10;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    display: flex;
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    align-items: center;
    justify-content: space-between;
}
.logo-link {
    display: flex;
}

.actions {
    display: flex;
    align-items: center;
    text-align: center;
}

.more-btn {
    font-size: 2.2rem;
    margin-left: 26px;
    padding: 4px 8px;
    background: transparent;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    color: #161823;
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}
.action-btn__icon {
    color: #161823;
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 10px;
    cursor: pointer;
}

.inbox-margin {
    padding-top: 8px;
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 16px;
    cursor: pointer;
}
.icon-add {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: var(--black);
        padding-left: 4px;
    }
}

.badge {
    position: absolute;
    top: -3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
}
