@import 'src/components/GlobalStyles/GlobalStyles.scss';
:root {
    --fontfamily-blog: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blog {
    padding-top: var(--default-layout-header-height);
}

.blog-img-top {
    position: relative;
    max-width: 100%;
    .blog-heder_img {
        position: relative;
        img {
            width: 100%;
            max-height: 420px;
            object-fit: cover;
        }
    }
}
.blog-sibar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f0;
    h1 {
        max-width: 1000px;
        max-height: 300px;
        font-size: 4vw;
        margin: 25px 0;
        font-family: var(--fontfamily-blog);
    }
    .blog-next_page {
        display: flex;
        justify-content: center;
        font-size: 0.9vw;
        align-items: center;
        a {
            font-family: var(--fontfamily-blog);
        }

        p {
            padding: 0 16px;
        }
        span {
            font-family: var(--fontfamily-blog);
        }
    }
}

.left {
    width: 75%;
    padding: 0 18px 0 78px;
}

.product-pxpy {
    margin: 48px 0;
    padding: 48px 0;
}
.therr-fashion {
    display: block;
    max-width: 100%;
    max-height: 400px;
    align-items: center;
    padding: 0 12px;
    margin-bottom: 18px;

    img {
        width: 100%;
        height: auto;
    }
    h5 {
        font-size: 22px;
        margin-bottom: 12px;
    }
    span {
        font-size: 16px;
        color: #6c757d;
    }
    p {
        color: #8f8f8f;
    }
}
.pagination {
    margin-top: 48px;
    ul {
        display: flex;
        justify-content: center;
        font-size: 18px;
        li {
            padding: 6px 12px;
        }
        .pagination-one {
            color: white;
            background-color: #000;
        }
    }
}

.right {
    width: 25%;
    max-width: auto;
    padding: 0 78px 0 18px;
    .input-search {
        padding: 8px;
        border: 1px solid #8f8f8f;
        margin-bottom: 48px;
        input {
            padding: 6px 12px;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        button {
            padding: 1px 6px;
            font-size: 18px;
            color: #8f8f8f;
            margin-right: 6px;
        }
    }
    h5 {
        font-size: 22px;
        margin-bottom: 16px;
        padding-bottom: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    ul {
        margin-bottom: 20px;
    }
    li {
        font-size: 18px;
        a {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
    .button-tags {
        margin: 24px 0;
        color: #8f8f8f;
        a {
            padding: 6px 12px;
            border: 1px solid #8f8f8f;
        }
    }
}
.recent {
    display: flex;
    justify-content: space-between;
    .recent-img {
        max-width: 80px;
        max-height: 80px;
        object-fit: cover;
        cursor: pointer;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .recent-span {
        width: 100%;
        padding-left: 12px;
        span {
            width: 100%;
            font-size: 16px;
        }
        h6 {
            width: 100%;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
}
