.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}
.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
}

// Menu items
.menu-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    font-weight: 600;
    padding: 14px 16px;
    line-height: 1.8rem;
    font-weight: 600;

    &.separate {
        border-top: 2px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// header

.header {
    display: flex;
    flex-shrink: 0;
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.6rem;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
