.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search {
    position: relative;
    display: flex;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.8);
    }
    input:not(:placeholder-shown) ~ .clear {
        color: rgba(22, 24, 35, 0.8);
    }
    &::after {
        content: '';
        position: absolute;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background-color: rgba(22, 24, 35, 0.12);
    }   
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
}


.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.05);
        cursor: pointer;
        color: rgba(22, 24, 35, 0.8);
    }
    &:active{
        background-color: rgba(22, 24, 35, 0.08);
    }
}