.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-btn{
    padding: 6px 16px;
}

.body {
    flex: 1;
    margin-top: 12px;
}
.nickname {
    font-size: 1.6rem;
    color: #161823;
}

.check {
    margin-left: 4px;
    font-size: 1.4rem;
    color: #20d5ec;
}
.name {
    font-size: 1.2rem;
    opacity: #161823bf;
}
.analytics {
    margin-top: 10px;
    font-size: 1.7rem;
}
.value{
    padding-right: 4px;
}
.value ~ .value {
    padding-left: 20px;
}
.label {
    color: #161823bf;
}
